file_structure.txt
db.sqlite3
go.sum
go.mod
.env
mycurrency/__pycache__/
exchange/__pycache__/
__pycache__/celery_config.cpython-310.pyc
mycurrency/__pycache__/settings.cpython-310.pyc
__pycache__/celery.cpython-310.pyc
exchange/__pycache__/urls.cpython-310.pyc
exchange/__pycache__/tasks.cpython-310.pyc
exchange/__pycache__/services.cpython-310.pyc
exchange/__pycache__/models.cpython-310.pyc
exchange/__pycache__/admin.cpython-310.pyc
exchange/__pycache__/adapters.cpython-310.pyc
__pycache__/celery.cpython-310.pyc
exchange/__pycache__/views.cpython-310.pyc
db.sqlite3
__pycache__/celery.cpython-310.pyc
        exchange/__pycache__/adapters.cpython-310.pyc
        exchange/__pycache__/admin.cpython-310.pyc
        exchange/__pycache__/models.cpython-310.pyc
        exchange/__pycache__/services.cpython-310.pyc
        exchange/__pycache__/tasks.cpython-310.pyc
        exchange/__pycache__/urls.cpython-310.pyc
        exchange/__pycache__/views.cpython-310.pyc
